

@media (max-width: $screen-md){

	body {
		width: 100%;
		height: 100%;
	}

	.slideout-menu {
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: 0;
		width: 256px;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		display: none;


		&.mean-container .mean-nav > ul {
			height: 100% !important;
			overflow: visible !important;
			display: block !important;
		}

	}

	.slideout-panel {
		position:relative;
		z-index: 1;
	}

	.slideout-open,
	.slideout-open body,
	.slideout-open .slideout-panel {
		overflow: hidden;
	}

	.slideout-open .slideout-menu {
		display: block;
	}

}

@media (min-width: $screen-md){
	/// DISABLE ON DESKTOP
	#panel.slideout-panel{
		transform: none !important;
	}
}