

@media (min-width: $screen-md){

	/// SUPERFISH MULTI LEVEL MENU

	.sf-menu, .sf-menu * {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.sf-menu li {
		position: relative;
	}

	.sf-menu ul {
		position: absolute;
		display: none;
		top: 100%;
		left: 0;
		z-index: 99;
		animation-duration: 0.3s;
		animation-fill-mode: both;
		min-width: 100%;
	}

	.sf-menu > li {
		float: left;
	}

	.sf-menu li:hover > ul,
	.sf-menu li.sfHover > ul {
		display: table !important;
		top: 100%;
		animation-name: slideInUpXS;
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	.sf-menu a {
		display: block;
		position: relative;
	}

	.sf-menu ul ul {
		top: 0;
		left: 100%;
		right: initial;
		float: left;
		li{

		}
	}

	/*** arrows (for all except IE7) **/
	.sf-arrows .sf-with-ul {
		padding-right: 2.5em;
		*padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */
		padding-right: 22px;
		padding-right: 1.8em;
	}

	/* styling for both css and generated arrows */
	.sf-arrows .sf-with-ul:after {
		content: '';
		position: absolute;
		top: 50%;
		right: 6px;
		margin-top: -2px;
		height: 0;
		width: 0;
		/* order of following 3 rules important for fallbacks to work */
		border: 5px solid transparent;
		border-top-color: #cbcbcb; /* edit this to suit design (no rgba in IE8) */
		border-top-color: rgba(135, 135, 135, 0.7);
	}

}