<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <title>vision framework modern</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <!-- build:js scripts/vendor/lt-ie-9.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/lt-ie-9/lt-ie-9.min.js"></script>
    <![endif]-->
    <!-- endbuild -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>

<!--[if lt IE 10]>
<p class="c-browsehappy">Estas usando un navegador <strong>desactualizado</strong>. Por favor <a
        href="http://browsehappy.com/">actualiza tu navegador</a> para mejorar la experiencia.</p>
<![endif]-->


<nav id="menu">

</nav>

<main id="panel">
    {{> body }}
</main>

<div class="cookie_container"></div>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/cookieconsent2/cookieconsent.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
                function () {
                    (b[l].q = b[l].q || []).push(arguments)
                });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = '//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
</script>

<script>
    window.cookieconsent_options = {
        "message": "Solicitamos su permiso para obtener datos estadísticos de su navegación en esta web, " +
        "en cumplimiento del Real Decreto-ley 13/2012. Si continúa navegando consideramos que acepta el " +
        "uso de cookies.",
        "dismiss": "OK",
        "learnMore": "Más información",
        "link": "#",
        "theme": "light-bottom"
    };
</script>


<!-- build:js scripts/plugins.js -->
<script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
<script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
<script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
<script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
<script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
<script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
<script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
<script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
<script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
<script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
<script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
<script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>

<script src="bower_components/superfish/dist/js/hoverIntent.js"></script>
<script src="bower_components/superfish/dist/js/superfish.min.js"></script>
<script src="bower_components/meanMenu/jquery.meanmenu.min.js"></script>
<script src="bower_components/slideout.js/dist/slideout.min.js"></script>
<!-- endbuild -->

<!-- build:js scripts/main.js -->
<script src="scripts/styleguide.js"></script>
<script src="scripts/main.js"></script>
<script src="scripts/menu.js"></script>
<!-- endbuild -->
</body>
</html>
