

/// SHAME ON YOU

.o-contact-map-overlay{

	@extend .bg--bg-primary;

	position: relative;
	overflow: hidden;
	padding: 150px 15px;

	.o-contact-map-overlay__overlay{
		position: absolute;
		pointer-events: none;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: $bg-primary;
		opacity: 0.9;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
		z-index: 1;
		transition: opacity 0.3s ease-in
	}
	&:hover .o-contact-map-overlay__overlay{
		opacity: 0;
	}
	&:hover .o-contact-map-overlay__text{
		background: rgba($bg-primary,0.9);
	}

	.o-contact-map-overlay__map{
		position: absolute;
		left: 0;
		top:0;
		right: 0;
		bottom: 0;
		iframe{
			height: 100%;
			position: absolute;
			width: 100%;
		}

		// FIX SCROLL TODO: GMAPS API
		pointer-events: none;
	}

	.o-contact-map-overlay__text{

		display: inline-block;
		position: relative;

		z-index: 10;

		padding: 30px 15px;
		margin: 0 15px;

		background: none;
		transition: background 0.3s ease-out;

		max-width: 100%;

		a{

		}

		a.icon{
			@extend .h2;
			margin: 0 15px;
			text-decoration: none !important;
		}

		a>i{
			&:hover,&:active,&:focus{
				color: $brand-primary
			}
		}

		h1{
			//font-size: 38px;
			font-weight: bold;
			text-decoration: underline;
			color: $brand-primary;
		}

		h3{

		}

		p{

		}

	}

}

@media screen and (min-width: $screen-sm){

	.o-contact-map-overlay{
		.o-contact-map-overlay__text{
			overflow: hidden;
			h1{
				font-size: 38px;
			}
		}
	}

}