


/// GENERAL COLORS & SIZES


html, body {
	min-height: 100%;
}


/// BACKGROUND COLORS

.bg--primary {
	background-color: $brand-primary !important;
	color: contrast-color($brand-primary, $text-color, #fff);
}

.bg--white {
	background-color: white !important;
	color: $text-color;
}

.bg--info {
	background-color: $brand-info !important;
	color: contrast-color($brand-info, $text-color, #fff);
}

.bg--warning {
	background-color: $brand-warning !important;
	color: contrast-color($brand-warning, $text-color, #fff);
}

.bg--danger {
	background-color: $brand-danger !important;
	color: contrast-color($brand-danger, $text-color, #fff);
}

.bg--bg-primary{
	background-color: $bg-primary;
	color: contrast-color($brand-warning, #888, #fff);
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
		color: inherit;
	}
	label{
		color: inherit;
	}
}


/// BORDERS

.border--primary {
	border: 1px solid $border-color;
}

.border-sides--primary {
	border-left: 1px solid $border-color;
	border-right: 1px solid $border-color;
}

.border-ends--primary {
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
}


/// IMAGES

.u-imgfull {
	width: 100%;
	max-width: 100%;
}

.u-imgmax{
	max-width: 100%;
}


/// FORMS

label{
	color: mix($brand-primary,#000);
	margin-bottom: 10px;
}

.form-control{
	box-shadow: none !important;
}

textarea {
	max-width: 100%;
}


/// LINKS

@mixin link--color($color: white, $hcolor: $color, $percentage: 15%, $transition: color 0.15s ease){
	& {
		color: $color;
		transition: $transition;
		&:hover {
			color: darken($hcolor,$percentage);
		}
	}
}

a.link--white{
	@include link--color();
}

/// TEXT
h1,h2,h3,h4,h5{
	font-weight: bold;
}
p{
	font-size: 14px;
}

.text--primary{
	color: $brand-primary !important;
}
.text--info{
	color: $brand-info;
}
.text--warning{
	color: $brand-warning;
}
.text--danger{
	color: $brand-danger;
}

/// BUTTONS

.btn{
	box-shadow: none !important;
}

.btn-md{
	padding: 9px;
}

.btn-transparent{
	@extend .btn;
	@include button-variant(white,white,white);
	background: transparent;
	border-width: 2px;
	color: white;
	font-weight: bold;
	text-transform: uppercase;

	transition: all 0.2s ease;

	&:focus,&:active,&:hover{
		background: rgba(white,0.5);
		border-color: darken(white,15%);
		color: lighten(invert(white),30%);
	}
	&:active:focus{
		background: rgba(white,0.7);
		border-color: darken(white,30%);
		color: lighten(invert(white),40%);
	}

	&.btn-primary{
		color: $brand-primary;
		border-color: $brand-primary;
		&:focus,&:active,&:hover{
			background: rgba($brand-primary,0.5);
			border-color: darken($brand-primary,15%);
			color: darken($brand-primary,15%);
		}
		&:active:focus{
			background: rgba($brand-primary,0.7);
			border-color: darken($brand-primary,20%);
			color: darken($brand-primary,30%);
		}
	}
	&.btn-danger{

	}
}
