
@import "compass/utilities/color/contrast";

/// VARIABLES

$grid-gutter-width: 30px;
$base-padding: 3rem;

// Allows for customizing button radius independently from global border radius
$btn-border-radius-base:         2px !default;
$btn-border-radius-large:        2px !default;
$btn-border-radius-small:        2px !default;

// COLORS
$brand-primary:         #1abc9c;
$brand-success:         #27ae60;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger: 			#e74c3c;

$bg-primary: 			#2e4151; ///#fff
$border-color: 			#ccc;


// TEXT
$font-size-base:          15px;

$text-color:            #333;
$headings-color:		$bg-primary;

$font-family-sans-serif:  'Roboto', Helvetica, Arial, sans-serif;
$font-size-base:        ceil(15px * 0.833);

$contrasted-dark-default: $text-color;
$contrasted-light-default: white;

// FORMS

$input-border-focus:             mix($brand-primary,#666);