

.c-button-round{

	@extend .btn;

	background: none;
	background: rgba($bg-primary,0.5);
	transition: background .3s ease-out;

	width: 50px;
	height: 50px;
	border-radius: 100%;

	border: 2px solid white;

	padding: 0;

	i{
		vertical-align: middle;
		line-height: 50px;
		color: white;
		font-size: 24px;
	}

	&:hover{
		background: rgba($bg-primary,0.9);
	}

}