

/// MIXINS


@mixin link--color($color: white, $hcolor: $color, $percentage: 15%, $transition: color 0.15s ease){
	a {
		color: $color;
		transition: $transition;
		&:hover,&:active,&:focus {
			color: darken($color,$percentage);
		}
	}
}

@function contrast-color($color, $dark: $contrasted-dark-default, $light: $contrasted-light-default, $threshold: null) {
	@if $threshold {
		// Deprecated in Compass 0.13
		@warn "The $threshold argment to contrast-color is no longer needed and will be removed in the next release.";
	}
	@if $color == null {
		@return null;
	}
	@else {
		$color-brightness: brightness($color);
		$dark-text-brightness: brightness($dark);
		$light-text-brightness: brightness($light);
		@return if(abs($color-brightness - $light-text-brightness) > abs($color-brightness - $dark-text-brightness), $light, $dark);
	}
}