


.o-form{

	margin-bottom: 30px;

	&.is-loading{

	}

	.o-form__message{


		&.is-success{

		}

		&.has-error{

		}
	}

	input[type=submit],button[type=submit]{

		&.is-loading{

			&:before{
				@extend .fa !optional;
				@extend .fa-spinner !optional;
				@extend .fa-spin !optional;
				float: right;
				right: -5px;
				top: 3px;
				position: relative;
				margin: 0 5px;
			}
		}

		&.is-success{
			@extend .btn-success !optional;
		}

		&.has-error{
			@extend .btn-danger !optional;
		}

		&.disabled{
			pointer-events: none !important;
		}
	}


}

@media screen and (min-width: $screen-sm){
	.o-form{
		margin-bottom: 0;
	}
}