/// Hero section

$o-hero-bg-color: $bg-primary;
$o-hero-bg-over-color: rgba(grayscale($o-hero-bg-color), 0.5);
$o-hero-text-color: #bdc3c7;

.o-hero {
	width: 100%;
	min-width: 100%;
	min-height: 100%;
	min-height: 100vh;

	position: relative;
	overflow: hidden;

	display: flex;
	flex-flow: row wrap;
	margin: 0 auto 0 auto;
	padding: 0;
	align-items: stretch;
	align-content: flex-start;

	/// Background style
	background: $bg-primary;
	color: contrast-color($bg-primary, #000, #fff);

	&.o-hero--bg-cover {
		@include gradient-vertical(#43a8f7, #6e90f5);
		background: url('https://unsplash.it/1920/800?image=664') center center;
		background-size: cover;
	}
	&.o-hero--overlay:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background: rgba(0, 0, 0, 0.3);
		pointer-events: none;
		outline: none;
	}

	/// Vertical align content
	&.o-hero--top {
		align-items: flex-start;
		align-content: flex-start;
	}
	&.o-hero--middle {
		align-items: center;
		align-content: center;
	}
	&.o-hero--bottom {
		align-items: flex-end;
		align-content: flex-end;
	}
	&.o-hero--stretch {
		align-items: stretch;
		align-content: stretch;
	}

	/// Horizontal align content
	&.o-hero--start {
		text-align: left;
		justify-content: flex-start;
		.o-hero__title {
			text-align: left;
		}
	}
	&.o-hero--center {
		text-align: center;
		justify-content: center;
		.o-hero__title {
			text-align: center;
		}
	}
	&.o-hero--end {
		text-align: right;
		justify-content: flex-end;
		.o-hero__title {
			text-align: right;
		}
	}

	/// Content
	.o-hero__title {
		color: inherit;
		@extend .container;
		margin: 0;
		padding: 0 30px;
		order: 0;
		display: inline-block;
		flex: 0 1 auto;
		width: auto;
		position: relative;
		z-index: 20;

		h1 {
			font-size: 32px;
			font-weight: lighter;
			color: inherit;
			margin-top: 0;
		}
		p {
			font-size: 18px;
			color: $o-hero-text-color;
		}

		.btn {

		}

		&.o-hero__title--bg {
			background-color: black;
			background: $o-hero-bg-over-color;
			padding: $grid-gutter-width;
		}
		&.o-hero__title--full{
			width: 100%;
		}
		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}
	}

	/// Over container
	&.has-top-container {
		padding-top: 70px;
	}
	&.has-bottom-container {
		padding-bottom: 70px;
	}

	.o-hero__top-container,
	.o-hero__bottom-container {
		left: 0;
		right: 0;
		padding: 0 $grid-gutter-width;
		z-index: 10;
		&.has-menu {
			padding: 15px $grid-gutter-width;
		}
		&.has-bg {
			background: $o-hero-bg-over-color;
		}
	}

	.o-hero__top-container {
		position: absolute;
		top: 0;
		z-index: 30;
	}
	.o-hero__bottom-container {
		position: absolute;
		bottom: 0;
		z-index: 30;
	}

	.o-hero__logo {
		text-align: center;
	}
	.o-hero__menu-toggle {
		text-align: center;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		padding: $grid-gutter-width/2;
		z-index: $zindex-navbar-fixed;
		> i {
			vertical-align: middle;
			display: inline-block;
			line-height: 40px;
		}
	}

	/// Slick slider animations (bugged on repeated items)
	.slick-slide.slick-active.slick-current {
		.o-hero__title {
			opacity: 1;
			@extend .animated;
			animation-delay: 2s;
		}
		.o-hero__title--slide-top {
			animation-name: slideInDown;
		}
		.o-hero__title--slide-bottom {
			animation-name: slideInUp;
		}
		.o-hero__title--slide-left {
			animation-name: slideInLeft;
		}
		.o-hero__title--slide-right {
			animation-name: slideInRight;
		}
	}
}

@media (min-width: $screen-sm) {
	.o-hero {

		&.o-hero--bg-cover {

		}

		/// Vertical align content
		&.o-hero--top {

		}
		&.o-hero--middle {

		}
		&.o-hero--bottom {

		}
		&.o-hero--stretch {

		}

		/// Horizontal align content
		.o-hero--start {

		}
		.o-hero--center {

		}
		.o-hero--end {

		}

		/// Title
		.o-hero__title {
			padding: 0 60px;

			h1 {
				font-size: 45px;
			}
			p {
				font-size: 25px;
			}

			.btn {
				@include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
			}

			&.o-hero__title--bg {

			}
		}
		.o-hero__logo {
			//text-align: left;
		}
		.o-hero__menu-toggle {
			> i {

			}
		}

		/// Over container
		&.has-top-container {

		}
		&.has-bottom-container {

		}

		.o-hero__top-container {

			&.has-menu {

			}
		}
		.o-hero__bottom-container {

			&.has-menu {

			}
		}

		/// Slider animations (bugged on repeated items)
		.slick-slide.slick-active.slick-current {

		}
	}
}

@media (min-width: $screen-md) {
	.o-hero {

		width: 100%;
		min-width: 100%;
		min-height: 700px;

		&.o-hero--bg-cover {

		}

		/// Vertical align content
		&.o-hero--top {

		}
		&.o-hero--middle {

		}
		&.o-hero--bottom {

		}
		&.o-hero--stretch {

		}

		/// Horizontal align content
		.o-hero--start {

		}
		.o-hero--center {

		}
		.o-hero--end {

		}

		/// Title
		.o-hero__title {

			h1 {
				font-size: 45px;
			}
			p {
				font-size: 25px;
			}

			&.o-hero__title--bg {

			}
		}
		.o-hero__logo {
			text-align: left;
		}
		.o-hero__menu-toggle {
			display: none;
			> i {

			}
		}

		/// Over container
		&.has-top-container {

		}
		&.has-bottom-container {

		}

		.o-hero__top-container {

			&.has-menu {

			}
		}
		.o-hero__bottom-container {

			&.has-menu {

			}
		}

		/// Slider animations (bugged on repeated items)
		.slick-slide.slick-active.slick-current {

		}
	}
}