$link-hover-bg : contrast-color($bg-primary, rgba(0,0,0,.5), rgba(255,255,255,.5));

.o-menu{
	@extend .nav;
	@extend .nav-pills;
}

@media (min-width: $screen-md) {

	.o-menu	 {

		width: auto;
		position: relative;
		z-index: $zindex-navbar-fixed;


		> li {

			height: 70px;
			margin-top: -15px;
			margin-bottom: -15px;
			position: relative;
			padding: 15px 0;

			@include clearfix;
			display: table;

			a {
				@include link--color(contrast-color($bg-primary, #888, #fff), $brand-primary, 0%);
				text-decoration: none !important;
			}
			> a {
				&:hover,&:active,&:focus{
					background-color: $link-hover-bg;
					color: contrast-color($link-hover-bg, white, black);
				}
			}
			ul {
				background-color: $bg-primary;
				text-align: left;
				border-top: 3px solid $brand-primary;
				padding: 10px 0;
				li a {
					white-space: nowrap;
					padding: 12px 12px;
					@include link--color(contrast-color($bg-primary, #888, #fff), $brand-primary, 0%);
					// Active state
					&:hover,
					&:focus,
					&:active {
						color: contrast-color($brand-primary, #888, #fff);
						background-color: $brand-primary;
					}
				}
			}
		}

		/// Color
		/*&.o-menu--primary {
			> li > a {
				@include link--color($brand-primary, $brand-primary, 15%);
			}
		}
		&.o-menu--light {
			> li > a {
				@include link--color(white, $brand-primary, 15%);
			}
		}*/

		/// Alignment
		&.o-menu--left {
			text-align: left;
			> li {
				display: inline-block;
			}
		}

		&.o-menu--center {
			text-align: center;
			> li {
				display: inline-block;
				float: none;
			}
		}

		&.o-menu--right {
			text-align: right;
			> li {
				display: inline-block;
				float: none;
				ul {
					right: 0;
					left: initial;
				}
			}
		}

	}
}