


.o-pricing{
	text-align: center;

	padding: 30px 0;

	.o-pricing__element{

		border: 1px solid $border-color;

		margin-bottom: 15px;

		.o-pricing__element__header{
			padding: 30px 15px;
			border-bottom: 1px solid $border-color;
			h1,h2,h3,h4{
				margin-top: 0;
			}
		}

		.o-pricing__element__main{
			padding: 30px 15px;

			.list-unstyled{
				margin-bottom: 30px;
				li{
					margin-bottom: 10px;
				}
			}


		}


	}

}

@media screen and (min-width: $screen-sm){

	.o-pricing{
		text-align: center;

		padding: 60px 0;

		.o-pricing__element{

			margin-bottom: 0;

			.o-pricing__element__header{

			}

			.o-pricing__element__main{


			}

		}

	}
}