<div class="container-fluid bg--bg-primary soft--ends">
    <div class="container soft--bottom">

        <div class="row flush" style="justify-content: center;">
            <div class="col-xs-12 text-center soft--ends">
                <h1 class="c-main-title" style="align-self: center">This is an awesome <br/> contact title</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
                {{>_o-form}}
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-1">
                <article class="col-xs-12 hard push-half--bottom">
                    <h4>Need Help?</h4>

                    <p>Dont heistate to ask us something. Email us directly <a href="mailto:">info@designmodo.com</a> or
                        call us at 1-345-5-6453-23434.
                        You can checkout our <a href="">FAQ</a> and <a href="">Help</a> page to get more information
                        about our porducts</p>
                </article>
                <article class="col-xs-12 hard push-half--ends">
                    <h4>Faq</h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium debitis dolore expedita
                        explicabo facere, magnam molestiae numquam quaerat quam quia quis reiciendis reprehenderit
                        sequi,
                        soluta tempore. At eaque numquam perspiciatis.</p>
                </article>
                <article class="col-xs-12 hard push-half--ends">
                    <h1 class="text--primary">347 596 47 41</h1>
                    <small class="text-uppercase subheader h5">Avaiable at 12pm - 18pm</small>
                </article>
            </div>
        </div>

    </div>
</div>


<div class="container-fluid soft--ends">
    <div class="container soft--bottom">

        <div class="row flush" style="justify-content: center;">
            <div class="col-xs-12 text-center soft--ends">
                <h1 class="c-main-title" style="align-self: center">This is an awesome <br/> contact title</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                {{>_o-form}}
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <article class="col-xs-12 hard push-half--bottom">
                    <h4>Where to find us</h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi, delectus, eligendi esse et
                        fuga ipsam labore laborum mollitia</p>

                    <div class="img-rounded">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12792.08907704399!2d-4.3835706!3d36.7220264!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x17d09f9edafbe457!2sVision+Click+%7C+Marketing+Online!5e0!3m2!1ses!2ses!4v1440580742184" width="720" height="240" class="u-imgfull push-half--top" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </article>
                <article class="col-xs-12 hard">
                    <ul class="list-unstyled text-right">
                        <li class="push-half--bottom lead weight--semibold text-nowrap">
                            <i class="fa fa-phone"></i> &nbsp; <a href="tel:">653 532 125</a>
                        </li>
                        <li class="push-half--bottom lead weight--semibold text-nowrap">
                            <i class="fa fa-envelope"></i> &nbsp; <a href="mailto:">mail@visionclick.com</a>
                        </li>
                    </ul>
                </article>
            </div>
        </div>

    </div>
</div>


<div class="container-fluid o-contact-map-overlay push--ends">
    <div class="o-contact-map-overlay__map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12792.08907704399!2d-4.3835706!3d36.7220264!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x17d09f9edafbe457!2sVision+Click+%7C+Marketing+Online!5e0!3m2!1ses!2ses!4v1440580742184" width="600" height="500" class="u-imgfull" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="o-contact-map-overlay__overlay">&nbsp;</div>
    <div class="container">
        <div class="row text-right">
            <div class="o-contact-map-overlay__text text-right">
                <a href="" class="icon">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="" class="icon">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="" class="icon">
                    <i class="fa fa-google-plus"></i>
                </a>
                <div class="push--ends">
                    <h2 class="weight--light">Get in touch with us</h2>
                    <p>As a Harvard professor, he was one of the first to wxplor ethe relationship</p>
                </div>
                <h1><a href="">info@visionclick.es</a></h1>
            </div>
        </div>
    </div>
</div>
