<form class="js-form o-form" method="POST" data-toggle="validator" data-action="php/sendmail.php"
      data-success-msg="Gracias por enviar el formulario. Nos pondremos en contacto con usted lo antes posible.">
    <div class="form-group">
        <label for="name">Nombre y Apellidos</label>
        <input type="text" class="form-control" name="name" id="name"
               placeholder="Introduzca tu nombre y apellidos" data-error="Por favor introduce un Nombre"
               required>

        <div class="help-block with-errors"></div>
    </div>
    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" class="form-control" name="email" id="email"
               placeholder="Introduzca su E-mail" data-error="Por favor introduce un Email Válido"
               required>

        <div class="help-block with-errors"></div>
    </div>
    <div class="form-group">
        <label for="msg">Mensaje</label>
                        <textarea id="msg" cols="30" type="text" rows="7" name="msg" class="form-control"
                                  data-error="Por favor introduce un Mensaje" placeholder="Mensaje" required></textarea>

        <div class="help-block with-errors"></div>
    </div>
    <div class="row">
        <div class="col-sm-4 form-group">
            <img src="<?=$_SESSION['captcha']['image_src']?>" alt="CAPTCHA" height="35"/>
        </div>
        <div class="col-sm-8 row flush--sides form-group">
            <input type="text" class="form-control col-xs-12 col-md-6" name="security"
                   id="security"
                   placeholder="Código de Seguridad"
                   data-error="Por favor introduce el codigo de seguridad" required>

            <div class="help-block with-errors"></div>
        </div>
    </div>
    <div class="form-group checkbox flush--top">
        <button type="submit" class="btn btn-primary btn-md col-xs-12 col-sm-4 pull-left push-half--right js-submit">ENVIAR &nbsp; <i
                class="fa fa-paper-plane"></i></button>
        <label style="padding-top: 10px;">
            <input type="checkbox" name="privacity" data-error="Debes aceptar la politica de privacidad"
                   required> Acepto la <a href="politica-privacidad.html">Política de
            Privacidad</a>
        </label>
    </div>
    <div class="form-group">
        <div class="alert o-form__message hidden"></div>
    </div>
</form>