


<div class="o-hero has-top-container o-hero--center o-hero--middle o-hero--bg-cover o-hero--overlay has-bottom-container">
    <div class="o-hero__top-container has-menu">
        <div class="row">
            <div class="col-xs-2 hidden-md o-hero__menu-toggle">
                <i class="toggle-button">{{>_c-hamburger}}</i>
            </div>
            <div class="col-md-4 o-hero__logo">
                <a href="">
                    <img src="http://placehold.it/130x40" alt=""/>
                </a>
            </div>
            <div class="col-md-8 o-hero__menu hidden-xs">
                {{>_o-menu}}
            </div>
        </div>
    </div>
    <div class="o-hero__title text-center">
        <h1>Vision Framework is a set of components</h1>
        <p class="lead">We’ve created the product that will help your <br/>
            startup to look even better.</p>
        <a href="" class="btn-transparent">View Link</a>
    </div>
    <div class="o-hero__bottom-container has-menu text-center">
        <a class="c-button-round"><i class="material-icons">&#xE313;</i></a>
    </div>
</div>


