<ul class="o-menu o-menu--light o-menu--right sf-menu">
    <li><a href="index.html">Inicio</a></li>
    <li><a href="empresa.html">Empresa</a></li>
    <li><a href="servicios.html">Servicios</a></li>
    <li><a href="productos.html">Productos</a>
        <ul>
            <li><a href="producto.html">Producto de nombre muy largo</a></li>
            <li><a href="producto.html">Producto</a></li>
            <li><a href="producto.html">Producto</a></li>
            <li><a href="producto.html">Producto</a></li>
            <li><a href="producto.html">Producto</a></li>
            <li><a href="producto.html">Producto</a></li>
        </ul>
    </li>
    <li><a href="gallery.html">Galería</a></li>
    <li><a href="blog.html">Blog</a></li>
    <li><a href="#" class="btn btn-primary">Contacto</a></li>
</ul>