

<div class="container-fluid o-pricing push--ends">
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="o-pricing__element">
                    <div class="o-pricing__element__header bg-success">
                        <h3>Primary</h3>
                        <small>256&euro;/mes</small>
                    </div>
                    <div class="o-pricing__element__main">
                        <ul class="list-unstyled text-center lead">
                            <li>10 hora</li>
                            <li><b>unlimited</b> beer</li>
                            <li><b>unlimited</b> food</li>
                            <li>first 10 day free</li>
                        </ul>
                        <div class="btn btn-primary btn-lg">Rent Plan</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="o-pricing__element">
                    <div class="o-pricing__element__header bg-warning">
                        <h3>Secondary</h3>
                        <small>256&euro;/mes</small>
                    </div>
                    <div class="o-pricing__element__main">
                        <ul class="list-unstyled text-center lead">
                            <li>10 hora</li>
                            <li><b>unlimited</b> beer</li>
                            <li><b>unlimited</b> food</li>
                            <li>first 10 day free</li>
                        </ul>
                        <div class="btn btn-primary btn-lg">Rent Plan</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="o-pricing__element">
                    <div class="o-pricing__element__header bg-danger">
                        <h2>Third</h2>
                        <small>256&euro;/mes</small>
                    </div>
                    <div class="o-pricing__element__main">
                        <ul class="list-unstyled text-center lead">
                            <li>10 hora</li>
                            <li><b>unlimited</b> beer</li>
                            <li><b>unlimited</b> food</li>
                            <li>first 10 day free</li>
                        </ul>
                        <div class="btn btn-primary btn-lg">Rent Plan</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="container-fluid">
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-4">

            </div>
            <div class="col-xs-12 col-sm-4">

            </div>
            <div class="col-xs-12 col-sm-4">

            </div>
        </div>

    </div>
</div>