<div class="container-fluid soft--ends">
    <div class="container soft--bottom">

        <div class="row" style="justify-content: center;">
            <div class="col-xs-12 text-center soft--ends">
                <h1 class="c-main-title" style="align-self: center">This is an awesome <br/> main title</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consequatur delectus
                    magnam natus. <br/> <br/>  Blanditiis consequuntur corporis cupiditate eligendi exercitationem, fugit impedit itaque
                    iusto libero nostrum perspiciatis reprehenderit, sunt, suscipit velit?</p>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-xs-6">
                        <img src="http://placehold.it/255x320" class="u-imgfull push-half--bottom" alt=""/>
                    </div>
                    <div class="col-xs-6">
                        <img src="http://placehold.it/255x320" class="u-imgfull push-half--bottom" alt=""/>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <h4 class="text--danger">This is a title</h4>

                <p class="soft--bottom">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus aliquam aspernatur at commodi culpa,
                    cum cumque deleniti enim facere libero magni minus nam officia pariatur possimus</p>

                <h4 class="text--danger">Another one</h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores autem commodi ducimus eaque, est
                    exercitationem explicabo libero minus modi nam omnis perferendis</p>
            </div>
        </div>

    </div>
</div>